{% include 'static/header.html' %}
<h3>Anleitung</h3>
In diesem Abschnitt wird das Thema Command Injection behandelt.
Dazu soll über eine Website ein Passwort, welches auf dem Server liegt, augelesen werden.

<h4>Zugriff</h4>
Zuerst muss über den Browser auf die Website zugegriffen werden: 
Dort kann nun navigiert werden. Auf verschiedenen Seiten können durch Command Injection Schwachstellen ausgenutzt werden, um  den Inhalt auf dem Server auszulesen.
<br>
Für den Zugriff müssen Pattern verwendet werden.
Diesen können zum Beispiel hier nachgelesen werden: http://www.golemtechnologies.com/articles/shell-injection

<br><br>

<h4>Ziel</h4>
Ziel dieser Übung ist es ein Passwort auf dem Sever auszulesen. Dieses ist in einem File versteckt was ausfindig gemacht und ausgelesen werden muss.

<h4>Ziel</h4>
Wer eine kleine Hilfe benötigt:
<br><br>


- Man muss in zwei Schritten und mit zwei unterschiedlichen Arten angreifen.
<br>

- Wenn ihr einen Schritt geschafft habt aber nicht weiter kommt - schaut euch alle Files genau an!

<br><br>
{% include 'static/footer.html' %}
